@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Outfit', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #041562;
  background-color: #EEEEEE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary: #041562;
  --primary-dark: #11468F;
  --secondary: #11468F;
  --accent: #DA1212;
  --light: #EEEEEE;
  --dark: #041562;
  --dark-gray: #2D2D2D;
  --gray: #11468F;
  --gray-light: #EEEEEE;
  --success: #11468F;
  --warning: #DA1212;
  --danger: #DA1212;
}

body {
  margin: 0;
  display: block;
  /* Changed from flex to block for full page layout */
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}